@model IEnumerable<TNS.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="@item.Image" class="card-img-top" alt="@item.Name">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <a href="/Product/Details/@item.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
